<a href="https://colab.research.google.com/github/Nwosu-Ihueze/ML-projects/blob/main/hazrads.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'ascites': [0,1,0,1],
                   'edema': [0.5,0,1,0.5],
                   'stage': [3,4,3,4],
                   'cholesterol': [200.5,180.2,190.5,210.3]
                  })
df

   ascites  edema  stage  cholesterol
0        0    0.5      3        200.5
1        1    0.0      4        180.2
2        0    1.0      3        190.5
3        1    0.5      4        210.3

In [3]:
df_stage = pd.get_dummies(data=df,
               columns=['stage']
              )
df_stage[['stage_3','stage_4']]

   stage_3  stage_4
0        1        0
1        0        1
2        1        0
3        0        1

In [4]:
df_stage

   ascites  edema  cholesterol  stage_3  stage_4
0        0    0.5        200.5        1        0
1        1    0.0        180.2        0        1
2        0    1.0        190.5        1        0
3        1    0.5        210.3        0        1

In [5]:
df_stage_drop_first = df_stage.drop(columns='stage_3')
df_stage_drop_first

   ascites  edema  cholesterol  stage_4
0        0    0.5        200.5        0
1        1    0.0        180.2        1
2        0    1.0        190.5        0
3        1    0.5        210.3        1

In [6]:
import numpy as np

In [7]:
df_stage = pd.get_dummies(data=df,
               columns=['stage'],
              )
df_stage[['stage_4']]

   stage_4
0        0
1        1
2        0
3        1

In [8]:
df_stage_float64 = pd.get_dummies(data=df,
               columns=['stage'],
               dtype=np.float64
              )
df_stage_float64[['stage_4']]

   stage_4
0      0.0
1      1.0
2      0.0
3      1.0

In [9]:
lambda_0 = 1
coef = np.array([0.5,2.])
coef

array([0.5, 2. ])

In [10]:
X = pd.DataFrame({'age': [20,30,40],
                  'cholesterol': [180,220,170]
                 })
X

   age  cholesterol
0   20          180
1   30          220
2   40          170

In [11]:
coef.shape

(2,)

In [12]:
X.shape

(3, 2)

In [13]:
np.dot(coef,X.T)

array([370., 455., 360.])

In [14]:
lambdas = lambda_0 * np.exp(np.dot(coef,X.T))
patients_df = X.copy()
patients_df['hazards'] = lambdas
patients_df

   age  cholesterol        hazards
0   20          180  4.886054e+160
1   30          220  4.017809e+197
2   40          170  2.218265e+156